{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
Logged as {{app.user.username}}
<ul class="list-group">
    <li class="list-group-item"><a href="{{ path('app_logout') }}">logout</a></li>
    <li class="list-group-item"><a href="{{ path('app_profilePage', {'username' : app.user.username}) }}">profile page</a></li>
{% if is_granted('ROLE_ADMIN') %}
    <li class="list-group-item"><a href="{{ path('app_admin') }}">admin page</a></li>   
{% endif %}
</ul>
{% endblock %}
