{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
Frontpage
{% if app.user%}
        You're logged :
        <a href="{{ path('app_home') }}">home</a>
        <a href="{{ path('app_logout') }}">logout</a>
    {% else %}
        You're not logged :
        <a href="{{ path('app_register') }}">register</a>
        <a href="{{ path('app_login') }}">login</a>
{% endif %}
{% endblock %}
